body {
    padding-top: 51px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.container {
    width: 97%;
}
.carousel-inner{
    height:444px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.section.type_2 .section_content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section .section_content {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.two-third {
    width: 63%;
}
.col {
    float: left;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


